@tailwind base;
@tailwind components;
@tailwind utilities;

/* Force the invisible React containers to fill the screen */
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}